.qr-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  .section-title {
    text-align: center;
    font-size: 1.5em;
    color: #e92832;
  }

  .scan-button {
    margin-top: 30px;
    font-size: 1.2em;
    padding: 2%;
    border-radius: 8px;
  }
}
